.device {
  margin-right: 24px;

  .css-1ex1afd-MuiTableCell-root {
    padding: 0 16px;
  }

  .full-item {
    justify-content: space-between;
  }
  .item-1 {
    width: 60%;
  }
  .item-2 {
    width: 40%;
    display: flex;
    justify-content: end;
    margin-right: 106px;
    .item-2-content {
      width: 350px;
    }
    .right-fiels {
    }
  }
  .item {
    .left-select {
      width: 100%;
      display: flex;
      gap: 30px;
      .width-full {
        width: 100%;
      }
    }
    .MuiPaper-root {
      height: 40px;
      margin: 8px 8px 8px 0;
      max-width: 350px;
    }
  }

  .title-box {
    font-family: "Nunito";
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
  }

  .MuiFormControl-root {
    margin-left: 0;
  }

  .table {
    display: flex;
    justify-content: space-between;
    .main-table {
      th {
        border-right: 1px solid #fff;
        color: white;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      .css-1ex1afd-MuiTableCell-root {
        border-bottom: none;
      }

      filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
      border-radius: 12px;
      width: calc(100% - 104px);
      thead {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: rgb(255, 145, 56);
      }
      tbody {
        background: white;

        tr {
          height: 50px;
        }
        td {
          border-right: 1px solid #ffe3cd;
          .text-part {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }

      .MuiTableCell-root {
        max-width: 250px;
      }
    }
  }

  .add-device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    gap: 4px;
    width: 80px;
    height: 94px;
    background: #fff2e7;
    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px 0px 0px 8px;
    font-family: "Nunito";
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    color: #ff7506;
  }
}

.full-item {
  .css-1xhypcz-MuiStack-root {
    gap: 20px;
  }

  .css-1xhypcz-MuiStack-root > .MuiTextField-root {
    min-width: 162px;
  }

  .MuiFormControl-root {
    background-color: white;
    overflow-y: hidden;
  }
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    padding: 0;
    gap: 6px;
  }

  .MuiInputBase-input {
    order: 1;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    padding: 0;
  }
}

.more-sidebar {
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    padding: 0;
    margin: 0;
    color: white;
    min-width: 0;
    display: flex;
    justify-content: center;
    img {
      width: 15px;
    }
    img :hover {
      background-color: #e7e9f2;
    }
  }
}

.add-device {
  span {
    color: #ff4747;
  }
  .full-item {
    background: #ffffff;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
    margin-right: 24px;
    padding: 16px 24px;
    .title-small {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #ff7506;
      margin-bottom: 20px;
    }
    .css-18i6d6z {
      margin-left: 8px;
    }
    .row-content {
      padding-top: 16px;
      input {
        height: 44px;
        padding: 0;
        padding: 0 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #a9a9b0;
      }

      .sub-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #282739;
      }

      .MuiSelect-select {
        height: 44px;
        padding: 0;
        padding: 0 12px;

        display: flex;
        align-items: center;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      .MuiFormControl-root {
        width: 100%;
      }
      .left-row {
        width: calc(50% - 24px);
      }
      .right-row {
        width: calc(50% - 24px);
      }
    }
    .row-end {
      .left-row {
        width: 100%;
      }
    }
    .text-bottom {
      padding-bottom: 93px;
      padding-top: 18px;
    }
  }
  .btn-submit {
    display: flex;
    gap: 56px;
    padding-top: 24px;
    margin: 0 auto;
    .cancel {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 147px;
      height: 48px;
      left: 0px;
      top: 0px;
      background: #fff2e7;
      border: 1.5px solid #ff9138;
      box-shadow: 0px 0px 6px #e7e9f2;
      border-radius: 8px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #ff9138;
      cursor: pointer;
    }
    .submit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 148px;
      height: 48px;
      left: 179px;
      top: 0px;
      background: #ff9138;
      box-shadow: 0px 0px 6px #e7e9f2;
      border-radius: 8px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      cursor: pointer;
      border: none;
    }
  }
}

.detail-device {
  .update-device-btn {
    cursor: pointer;
    width: 80px;
    height: 94px;
    background: #fff2e7;
    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #ff7506;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-detail {
    display: flex;
    width: 100%;
  }
  .full-item {
    width: calc(100% - 130px);
  }
  .sub-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
  }
  .add-device .full-item .row-content input {
    pointer-events: none;
  }
  .add-device .full-item .row-content .MuiFormControl-root {
    width: fit-content;
  }

  .detail-device .add-device .full-item .row-end .MuiFormControl-root {
    width: 100%;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none;
  }
  .left-row,
  .right-row {
    display: flex;
    .MuiFormControl-root {
    }
  }
}

.detail-device .add-device .full-item .row-end .MuiFormControl-root {
  width: 100% !important;
}

.detail-device .row-end .left-row {
  flex-direction: column;
  input {
    padding: 0;
  }
}

.add-device .full-item .row-content input::-webkit-input-placeholder {
  color: #535261;
}

.add-service {
  .title-small-2 {
    margin-top: 16px;
  }
  .row-1 {
    display: flex;
    gap: 24px;
  }
  .full-item .row-content {
    width: calc(50% - 12px);
    flex-direction: column;
    align-items: flex-start;
    .left-row {
      width: 100%;
    }
  }
  .row-end {
    textarea {
      width: 100%;
      height: 132px;
      border: 1.5px solid #d4d4d7;
      outline: none;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #535261;
      padding: 4px;
      margin-top: 2px;
    }
  }
  .rules {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .rule {
      display: flex;
      align-items: center;
      gap: 14px;
      .right-checkbox {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #282739;
      }
      input {
        width: 61px;
        height: 44px;
        border: 1.5px solid #d4d4d7;
        border-radius: 8px;
        padding: 10px;
        outline: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #535261;
      }
    }
  }
  .full-item .text-bottom {
    padding: 0;
    margin: 12px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-300 */

    color: #7e7d88;
  }
}
.detail-service {
  .right-checkbox {
    width: 12 0px;
  }
  .container {
    display: flex;
    .full-item {
      width: 30%;
      .row-content {
        width: 100%;
        .sub-title {
          width: 155px;
        }
        input {
          border: none;
          width: 100%;
          outline: none;
          background: transparent;
        }
      }
      .left-row {
        display: flex;
      }
    }
    .full-item-2 {
      table {
        width: 100%;
      }

      thead {
        background: #ff9138;
      }

      .MuiPaper-root {
        border: 1.5px solid #d4d4d7;
        border-radius: 8px;
        height: 40px;
        margin-top: 6px;
      }
      .css-1xhypcz-MuiStack-root > .MuiTextField-root {
        max-width: 180px;
      }
      width: 55%;
      .css-1xhypcz-MuiStack-root {
        gap: 0;
      }
      .full-item-child {
        gap: 12px;
        box-shadow: none;

        padding: 0;
        .left-select {
          display: flex;
        }
        width: 100%;
        display: flex;
      }
    }
  }
  .add-device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    gap: 4px;
    width: 80px;
    height: 94px;
    background: #fff2e7;
    border-radius: 8px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #ff7506;
    margin-bottom: 12px;
  }
}

.add-number {
  .full-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-small {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: #ff7506;
    }
    .row-content {
      .right-row {
        width: 100%;
        .sub-title {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          color: #535261;
          margin-bottom: 12px;
        }
      }
    }
  }
}

.MuiBox-root,
.css-1wnsr1i {
  padding: 0 !important;
  border: none !important;
  border-radius: 24px !important;
  .top {
    padding: 32px;
    display: flex;
    flex-direction: column;
  }
}

.title-add-number {
  margin: 0 auto;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #535261;
}

.number-add-number {
  font-family: "Nunito";
  font-style: normal;
  margin: 0 auto;
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
  color: #ff7506;
  padding: 10px 0;
}

.des-add-number {
  font-family: "Nunito";
  font-style: normal;
  margin: 0 auto;
  font-weight: 400; 
  font-size: 18px;
  line-height: 27px;
  color: #282739;
}

.time-add-number {
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  display: flex;
  flex-direction: column;
  background: #ff9138;
  .time {
    margin: 0 auto;
    padding: 10px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
  }
}
